
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1478720568477-152d9b164e26?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1vdmllfGVufDB8fDB8fHww)">
  <%= link_to lists_path do%>
  <div class="back-btn">
    <i class="fa-solid fa-backward"></i>
  </div>
  <% end %>
  <h1><%= @list.name %></h1>
</div>

<div class="p-5 d-flex flex-wrap gap-5">

  <% if @movies.count > 0 %>
    <% @movies.each do |movie| %>
      <div class="card" style="width: 18rem;">
        <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h3><%= movie.title %></h3>
          <p class="card-text"><%= movie.overview %></p>
          <% bookmark = @bookmarks.find { |hash| hash[:movie_id] == movie.id} %>
          <p class="card-text"><%= bookmark.comment %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2>You currently have no movies in this list</h2>
  <% end %>
</div>

<div>
    <%# <%= simple_form_for @list do |f| %>
  <%# <%= f.button :submit, "Add a Movie", class: "btn btn-gradient" %>
    <%# <% end %>
  </div>


<%# <%= link_to movies_path, method: :get, class: "btn btn-gradient" do %>
  <%# <div>
    Add a Movie
  </div> %>
<%# <% end %>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add a Movie
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose a Movie</h5>
        <div class="ms-auto d-flex">
        <%= form_with(url: list_path, method: :get, class: "d-flex my-2 my-lg-0") do %>
        <%= text_field_tag :query, nil, class: "form-control me-2", placeholder: "Search", aria: { label: "Search" } %>
        <%= button_tag "Search", class: "btn btn-outline-success my-2 my-sm-0", type: "submit" %>
        <% end %>
      </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-5 d-flex flex-wrap gap-5">

              <% if Movie.all.count > 0 %>
                <% Movie.all.each do |movie| %>
                  <div class="card" style="width: 18rem;">
                    <img src="<%= movie.poster_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3><%= movie.title %></h3>
                      <p class="card-text"><%= movie.overview %></p>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <h2>You currently have no movies in this list</h2>
              <% end %>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
